{% extends "ii.html" %}
{% block body %}
<body>
          <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300"> Add Zone</h4>
    <form action="/add_zonepost" method="post">

        <table border="1" class="w-full whitespace-no-wrap">
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
>
          <td class="px-4 py-3">Zone Name</td>
          <td class="px-4 py-3"> <input type="text" placeholder="Zone" name="zone"></td>
        </tr>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
>
          <td></td>
          <td class="px-4 py-3">
             <input type="submit" value="Add" class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          </td>
        </tr>
      </table>


    </form>
</body>
{% endblock %}